.about {
  grid-column: full-start/ full-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  @include borderBottom;
  @include boxShadow;
  background-color: $color-primary;

  &__img {
    position: relative;
    overflow: hidden;

    border-radius: 10%;
    & img {
      overflow: hidden;
      position: relative;
      width: 80%;
      height: 80%;
      top: 1rem;
      border-radius: 10%;
      z-index: 100;
    }
  }

  &__content {
    position: relative;
    @include boxShadow;
    padding: 2rem;
    height: 100%;

    text-align: center;
    & h2 {
      position: relative;
      top: 6rem;
      font-size: 3rem;
      padding: 5rem;
    }

    & p {
      position: relative;
      top: 6rem;
      font-size: 2rem;
    }
  }
}

@media only screen and (max-width: $bp-medium) {
  .about {
    &__img {
      left: 5rem;
      & img {
        width: 75%;
        height: 75%;
      }
    }

    &__content {
      & h2 {
        font-size: 2.5rem;
        padding: 2rem;
      }
      & p {
        font-size: 1.8rem;
      }
    }
  }
}

@media only screen and (max-width: $bp-smallest) {
  .about {
    grid-template-columns: repeat(1, 100vw);

    &__content {
      & h2 {
        font-size: 1.5rem;
        top: 1rem;
        // padding: 2rem;
      }
      & p {
        top: 1rem;
        font-size: 1.4rem;
      }
    }

    &__img {
      left: 19rem;
      & img {
        width: 40%;
        height: 40%;
      }
    }
  }
}

@media only screen and (max-height: 750px) and (max-width: $bp-smallest) {
  .about {
    &__img {
      left: 17rem;
      & img {
        width: 45%;
        height: 45%;
      }
    }

    &__content {
      & h2 {
        font-size: 3rem;
        top: 1rem;
        // padding: 2rem;
      }
      & p {
        top: 1rem;
        font-size: 1.5rem;
      }
    }
  }
}

@media only screen and (max-height: 700px) and (max-width: $bp-smallest) {
  .about {
    &__img {
      left: 17rem;
      & img {
        width: 40%;
        height: 40%;
      }
    }

    &__content {
      & h2 {
        font-size: 3rem;
        top: 1rem;
        // padding: 2rem;
      }
      & p {
        top: 1rem;
        font-size: 1.5rem;
      }
    }
  }
}

@media only screen and (max-height: 680px) and (max-width: $bp-smallest) {
  .about {
    overflow: hidden;
    grid-template-columns: repeat(1, 100vw);
    &__img {
      & img {
        width: 0%;
        height: 0%;
      }
    }
  }
}
