*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  color: $color-primary-dark;
  font-family: "Montserrat", sans-serif;

  background-color: $color-primary;
  scroll-behavior: smooth;
}

.container {
  display: grid;
  grid-template-rows: min-content 65vh 1fr 110vh 70vh 40vh min-content;
  grid-template-columns:
    [ full-start] minmax(min-content, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end])
    [center-end] minmax(min-content, 1fr)
    [full-end];
}

.span-small {
  color: $color-secondary;
  font-weight: 700;
}

@media only screen and (max-width: $bp-largest) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: $bp-medium) {
  .container {
    grid-template-rows: min-content 65vh 1fr 110vh 70vh 35vh min-content;
  }
}

@media only screen and (max-width: $bp-small) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-height: 550px) {
  .container {
    grid-template-rows: min-content 65vh min-content 140vh 70vh 50vh min-content;
  }
}
