.footer {
  grid-column: full-start/full-end;
  grid-template-columns: min-content;
  overflow: hidden;

  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  background-color: $color-secondary;
  color: $color-light;
  height: 4rem;
}

@media only screen and (max-width: $bp-medium) {
  .footer {
    font-size: 1.5rem;
  }
}
