.portfolio {
  grid-column: full-start/full-end;
  justify-content: center;
  align-items: center;
  // padding: 5rem;
  gap: 1rem;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(3, 30%);

  background-color: $color-light;
  @include borderBottom;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: repeat(2, 40%);
  }

  @media only screen and (max-height: $bp-medium) and (max-width: $bp-medium) {
    grid-template-columns: repeat(3, 25%);
  }

  @media only screen and (max-height: 420px) and (max-width: $bp-large) {
    grid-template-columns: repeat(3, 20%);
  }

  &__card {
    position: relative;
    overflow: hidden;
    @include boxShadow;
    cursor: pointer;
    z-index: 0;
    border-radius: 1rem;

    &:hover img {
      transform: scale(1.1);
      transition: all 1s;
    }

    &:hover figcaption {
      position: relative;
      transform: scale(1);

      z-index: 1000;
      opacity: 100;
    }

    // &:hover &--overlay {
    //   width: 100%;
    //   height: 100%;
    //   top: 0;
    //   opacity: 85%;
    //   border-radius: 1rem;
    // }

    & img {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      filter: blur(0.05rem) grayscale(40%);
    }

    & figcaption {
      transition: all 0.6s;
      transform-origin: 50% -60% 0;
      transform: scale(0);
      z-index: 1000;
      @media only screen and (max-width: $bp-medium) {
        transform: scale(1);
        position: relative;
        transform: scale(1);

        z-index: 1000;
        opacity: 100;
      }
    }

    &--title {
      position: absolute;
      text-align: center;
      padding: 1.5rem;
      background-color: #fff;
      z-index: 1000;
      top: -30rem;
      color: #111;

      @media only screen and (max-width: $bp-medium) {
        font-size: 1.5rem;
        top: -18rem;
      }

      @media only screen and (max-width: $bp-small) {
        font-size: 1.3rem;
        top: -15rem;
      }

      @media only screen and (max-width: $bp-smallest) {
        font-size: 1rem;
        top: -12rem;
      }
    }

    &--btn {
      position: absolute;
      display: inline-block;
      text-align: center;
      top: -15rem;
      left: 36.5%;
      padding: 1rem;
      z-index: 1000;

      text-decoration: none;
      color: $color-secondary;
      font-size: 2rem;
      font-weight: 700;

      border-radius: 1rem;
      background-color: $color-primary;
      transition: all 0.3s;
      &:hover {
        background-color: $color-secondary;
        color: $color-primary;
        transform: scale(1.1) translateY(-0.1rem);
      }

      @media only screen and (max-width: $bp-medium) {
        font-size: 2rem;
        top: -5rem;
        left: 17rem;
      }

      @media only screen and (max-width: $bp-small) {
        font-size: 1.3rem;
        top: -4rem;
        left: 17rem;
      }

      @media only screen and (max-width: $bp-smallest) {
        font-size: 1.3rem;
        top: -4rem;
        left: 12rem;
      }
    }

    // &--overlay {
    //   position: absolute;
    //   background-color: $color-secondary;

    //   // @media only screen and (max-width: $bp-medium) {
    //   //   opacity: 100%;
    //   //   width: 100%;
    //   //   height: 100%;
    //   //   top: 0;
    //   //   opacity: 85%;
    //   //   border-radius: 1rem;
    //   }
  }
}
