.skills {
  grid-column: full-start / full-end;

  background-color: $color-light;
  color: $color-light;

  @include boxShadow;
  @include borderBottom;
  overflow: hidden;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));

    align-items: center;
    justify-items: space-between;
    list-style: none;
    // padding: 2rem;
    overflow: hidden;

    &--item {
      position: relative;

      color: $color-secondary;

      background-color: $color-primary;
      @include boxShadow;

      & .skillLevel {
        text-align: left;
        padding-left: 1rem;
        color: $color-primary-dark;
        font-weight: 700;
      }

      & .name {
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        // margin-bottom: 1rem;
        text-transform: capitalize;

        @media only screen and (max-width: $bp-medium) {
          font-size: 1.5rem;
        }
      }

      & .box {
        @include centerItem;
        color: $color-light;
        background-color: $color-primary;
        margin-bottom: 1rem;
        width: 50%;
        height: 1.5rem;
        font-size: 1.5rem;
        border-radius: 0.5rem;
        font-weight: 700;
        @include boxShadow;
        // z-index: 1;
        border: 1px solid $color-primary-dark;
        overflow: hidden;

        @media only screen and (max-width: $bp-small) {
          height: 1rem;
          font-size: 1rem;
        }

        & .k1 {
          width: 80%;
        }
        & .k2 {
          width: 75%;
        }
        & .k3 {
          width: 60%;
        }
        & .k4 {
          width: 40%;
        }
        & .k5 {
          width: 60%;
        }
        & .k6 {
          width: 40%;
        }

        & .c1 {
          width: 85%;
        }
        & .c2 {
          width: 85%;
        }
        & .c3 {
          width: 65%;
        }
        & .c4 {
          width: 45%;
        }
        & .c5 {
          width: 50%;
        }
        & .c6 {
          width: 45%;
        }

        & .loading {
          height: 100%;
          background-image: linear-gradient(
            to right,
            $color-secondary,
            $color-primary-dark
          );

          border-radius: 0.5rem;

          overflow: hidden;
        }
      }
    }
  }
}

@media only screen and (max-width: $bp-large) {
  .skills {
    &__container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
