$color-primary: #e6e6e6d5;
$color-primary-dark: #0e1113;
$color-primary-light: #585858;
$color-secondary: #0e76a8;
$color-light: #f8f8f8;

$bp-largest: 81.25em; // 1300px
$bp-large: 72.5em; // 1200px
$bp-medium: 68em; // 1050px
$bp-small: 56.25em; // 900px
$bp-smallest: 39.375em; // 630px
